$main-font-family: Montserrat, Arial, sans-serif;
$second-font-family: Mulish, Arial, sans-serif;
$black: #131313;
$second-black: #171717;
$white: #fff;
$beige: #c2ab81;

@mixin cards-text {
  color: #666;
  line-height: 24px;
}

@mixin second-font {
  font-family: $second-font-family;
  font-size: 14px;
}

@mixin background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin visibility {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 1720px;
  margin: auto;
}

.title {
  margin: 0;
  font-size: 42px;
  font-weight: 700;

  text-transform: uppercase;

  &_margin {
    margin-top: 133px;
    margin-bottom: 53px;
  }
}

.slant {
  transform: skew(17deg);
}

.header {
  display: flex;
  align-items: center;
  padding: 26px 0;

  &__menu {
    display: flex;
    gap: 42px;
    padding-left: 76px;
    padding-right: 271px;
  }

  &__item {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__item a:hover {
    color: $beige;
  }

  &__contacts {
    display: flex;
  }

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 60px;
    stroke-width: 1px;
    stroke: #fff;
    transform: skew(-17deg);
    border: 1px solid gray;
    margin-right: 30px;
  }

  &__phone:hover {
    outline: 1px solid $white;
  }
}

.request {
  display: flex;
  &__button {
    position: relative;
    width: 265px;
    height: 60px;
    flex-shrink: 0;
    background-color: $beige;
    transform: skew(-17deg);
  }

  &__button:hover {
    outline: 1px solid $white;
  }

  &__button:active {
    outline: none;
  }

  &__text {
    font-family: $main-font-family;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;

    position: absolute;
    left: 27%;
    top: 35%;
  }

  &__tilt {
    margin-left: -6px;
  }
}

.hero {
  @include background-image;
  display: flex;
  justify-content: start;
  align-items: self-end;
  height: 960px;
  background-image: url("/src/images/earth.jpg");
  background-color: $black;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin-left: 67px;
    margin-bottom: 93px;
    gap: 39px;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.79;
  }

  & .request {
    padding-left: 8px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 620px;
    width: 320px;
    background-color: $white;

    opacity: 0;
    transition: opacity 1.2s ease;

    &.show {
      opacity: 1;
    }
  }

  &__img {
    @include background-image;
    width: 100%;
    height: 185px;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;

    padding: 25px 28px 24px 24px;
    gap: 20px;
  }

  &__title {
    @include second-font;
    color: $second-black;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $second-black;
    font-size: 16px;
    line-height: 26px;
    height: 50px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__text {
    @include cards-text;
    font-size: 14px;
    height: 145px;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__date {
    @include cards-text;
    font-size: 12px;
  }

  &__author {
    @include cards-text;
    font-size: 12px;
    font-weight: 700;
  }

  &__btn {
    @include second-font;
    width: 272px;
    padding: 16px 0;
    margin-bottom: 30px;
    background: $second-black;
    color: $white;
    font-weight: 600;
    cursor: pointer;
  }

  &__btn:hover {
    outline: 1px solid black;
    font-weight: 700;
  }

  & + .request {
    justify-content: center;
    margin-bottom: 256px;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  color: $black;

  background-color: $white;
  padding: 16px;
  border-radius: 5px;
  z-index: 10;

  opacity: 0;
  visibility: hidden;

  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  &__close {
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 52px;
    cursor: pointer;
    background: none;
  }

  &__close:hover {
    opacity: 0.5;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & label {
      position: relative;
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }

    & input,
    & textarea {
      outline: 1px solid grey;
      height: 30px;
      font-size: 16px;
      padding-left: 8px;
      margin-top: 8px;
    }

    & textarea {
      height: 86px;
      padding-top: 4px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }

  &__error {
    position: absolute;
    display: none;
    top: 56px;
    padding: 6px 6px 6px 0;
    font-size: 80%;
    color: #c80000;
  }

  &__btn {
    padding: 16px;
    background-color: $beige;
    font-family: $main-font-family;
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }

  &__btn:hover {
    outline: 1px solid $beige;
    opacity: 0.9;
  }

  &__message {
    resize: none;
  }

  &.show {
    @include visibility;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;

  &.show {
    @include visibility;
  }
}
